:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  overflow-x: hidden;
  background: var(--color-slate-100, #E4F4FD);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
}

.sr-only-wrapper {
  all: unset;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  display: contents;
}